/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

/* =================================
  Base Layout Styles
==================================== */

.main-header {
  display: block;
  text-align: center;
  padding: 10px 15px;
}

.main-nav a {
  font-size: .95em;
  color: rgb(60, 179, 113);
  text-transform: uppercase;
}

.main-nav {
  	margin-top: 5px;
}

.main-nav li {
  display: inline-block;
  margin-left: 15px;
}

.banner {
  text-align: center;
  color: #fff;
  background: rgba(255, 0, 0, 0.5);
  padding: 3.2em;
  margin-bottom: 60px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

.main-nav {
  float: right;
}

.name {
  float: left;
}
